* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

img{
    width: 100px;
    height: auto;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background-color:aqua;
    flex: 1 1 50px;

    display: flex;

}

.header ul{
    margin-left: auto;
    display: flex;
    gap: 8px;
}

.hero.section{
    background-color: yellow;
    flex: 2 1 200px; /*height inherit due to flex-direction: column parent */

    display: flex; /* makes the items inside the section flex items */
    
}

.main.section{
    background-color: greenyellow;
    flex: 2 1 200px; /*height inherit due to flex-direction: column parent */
}

.images.section{

    display: flex; /* makes the items inside the section flex items */
}

.images img{
    width: 150px;
    height: 150px;
}

.quote.section{
    background-color: yellowgreen;
    flex: 2 1 200px;

    text-align: center;
}

.calltoaction.section{
    background-color: yellow;
    flex: 2 1 200px; /*height inherit due to flex-direction: column parent */

    display: flex; /* makes the item inside the section flex items */
    justify-content: center;
}

.calltoaction.box{
    background: blue;
    
}

.footer.section{
    background-color: red;
    flex:1 1 50px; /* height inherit due to flex-direction: column*/

    display: flex; /* makes the item inside the section flex items */
    justify-content: center;
    align-items: center;
}