* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch; /* makes section stretch to fit screen as much as possible*/
}

img{
    width: 100px;
    height: auto;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}



.section {
    display: flex;
    flex: 1; /* shorthand for flex: 1 1 0 */
    flex-wrap: wrap;

}

.top.section{
    color: white; /* text color for top section*/
    background-color: #1F2937; 
    padding: 15px 100px 50px 100px;
    
}


.top.container{
   /* background-color: red; /* jf visual guide*/
    display: flex;
    flex: 1;
    flex-direction: column; /* makes .header and .hero columns flex */
    gap: 50px; /* adds gap between .header and .hero */
    
}

.header {
    display: flex; /* row default */
    justify-content: space-between; /* spaces the header section */
}

.header ul {
    display: flex; /* makes the list inline flex */
    gap: 8px; /* adds gap between list items */
}


/* old code removed some containers

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 750px;
    padding: 15px;
}

.header ul{
    margin-left: auto;
    display: flex;
    gap: 8px;
}
*/

.hero.section{
    
}


.main {
    padding: 15px;
    background-color: greenyellow;
    display: flex;
    
}

.main h2{
}

.images.section{

    display: flex; /* makes the items inside the section flex items */
}

.images img{
    width: 150px;
    height: 150px;
}

.quote.section{
    background-color: yellowgreen;
    flex: 2 1 200px;

    text-align: center;
}

.calltoaction.section{
    
}

.calltoaction.box{
    display: flex;
    background: blue;
    
}

.footer.section{
    background-color: red;
    flex:1 1 50px; /* height inherit due to flex-direction: column*/

    display: flex; /* makes the item inside the section flex items */
    justify-content: center;
    align-items: center;
}